

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Barra de progreso</h5>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow] = "porcentaje"  aria-valuemin="0" aria-valuemax="100" [style.width] = "porcentaje + '%'"></div>
            </div>

            <br>

            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow] = "porcentaje"  aria-valuemin="0" aria-valuemax="100" [style.width] = "porcentaje + '%'"></div>
            </div>

        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-6">
      <div class="card">
        <div class="card-body">

            <app-incrementador nombre = "Progreso azul" [porcentaje] = "20"></app-incrementador>
            
        </div>
      </div>
    </div>

    <div class="col-6">
        <div class="card">
          <div class="card-body">
  
            <app-incrementador nombre = "Progreso verde" [porcentaje] = "40"></app-incrementador>

          </div>
        </div>
      </div>
  </div>

  