<!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!--COMPONENTE HEADER-->
        <app-header></app-header>
  
        <!--COMPONENTE SIDEBAR-->
        <app-sidebar></app-sidebar>
  
  
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
  
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
          <div class="container-fluid">
  
            <!--COMPONENTE BREADCRUMBS-->
            <app-breadcrumbs></app-breadcrumbs>
  
            <router-outlet></router-outlet>
  
            
  
          </div>
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
  
        </div>
        <!-- ============================================================== -->
        <!--  END Page wrapper  -->
        <!-- ============================================================== -->
  
      </div>
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
